@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MVCMovie - Actividad S1</h1>
    <h3>Patricio Rey y sus Redonditos de Ricota</h3>
    <img class="text-center" src="imagen/Redondos.jpg"</img> 
</div>
